// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.pr-graphic {
  margin-top: 10px;
  width: 150px;
  text-align: center;
}

.badge-container-gpa {
  overflow: hidden;
  position: relative;
  width:28px;
  height:20px;
}

.badge-container-cov {
  overflow: hidden;
  position: relative;
  width:61px;
  height:20px;
}

.badge-gpa {
  position: absolute;
  left: -82px;
}

.badge-cov {
  position: absolute;
  left: -63px;
}